ion-card{
  // background-color:aliceblue;
  padding-bottom: 60%;
  justify-content: center;
  // --background: url('')
}
a{
 
 padding-left: 15%;
}
ion-button:hover{
  padding-left: 20%;
  opacity: 0.8;
  border-radius: 25px;
}
span{
  padding-left: 25%;
}
h1{
  text-align: center;
  justify-content: center;
  text-shadow: 4px;
}
